
        <h1>Cr&eacute;ditos</h1>

 	<div id="name">
 		<h3>Nombre:</h3><p> <%= autor %> </p>
  		
 	</div>
 	<div id="divFoto">
		<img id="foto" src="images/Foto.png">
 	</div>
  	
  	<div id="divCV">
  		<h2>Curriculum Textual</h2>
	  	<p>Hola. Me llamo David Vel&aacute;zquez Bernal y trabajo como Ingeniero de Software en una empresa de servicios inform&aacute;ticos con especialidad en Recursos humanos y N%oacute;mina. Tengo m&aacute;s de 20 a&ntilde;os de experiencia en la Ingenier&iacute;a de Software y estoy realizando este curso para refrescar mis conocimientos de Javascript y html; ver los nuevos avances de HTML 5, etc. Soy natural de El Puerto de Santa Mar&iacute;a, provincia de C&aacute;diz, desde donde trabajo.</p>
	  	<br></br>
  	</div>

